# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Package build
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
venv/
.env/

# Logs
*.log

# IDE files
.vscode/
.idea/

# macOS
.DS_Store

.model_download_cache
FlashVSR_int8_convrot.safetensors
FlashVSR-v1.1_int8_convrot.safetensors